In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('Zomato data .csv')
df

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,300,Buffet
4,Grand Village,No,No,3.8/5,166,600,Buffet
...,...,...,...,...,...,...,...
143,Melting Melodies,No,No,3.3/5,0,100,Dining
144,New Indraprasta,No,No,3.3/5,0,150,Dining
145,Anna Kuteera,Yes,No,4.0/5,771,450,Dining
146,Darbar,No,No,3.0/5,98,800,Dining
147,Vijayalakshmi,Yes,No,3.9/5,47,200,Dining

In [4]:
df.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
approx_cost(for two people)    0
listed_in(type)                0
dtype: int64

In [6]:
df['rate'] = df['rate'].str.replace('/5', '').astype(float)
df

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1,775,800,Buffet
1,Spice Elephant,Yes,No,4.1,787,800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,300,Buffet
4,Grand Village,No,No,3.8,166,600,Buffet
...,...,...,...,...,...,...,...
143,Melting Melodies,No,No,3.3,0,100,Dining
144,New Indraprasta,No,No,3.3,0,150,Dining
145,Anna Kuteera,Yes,No,4.0,771,450,Dining
146,Darbar,No,No,3.0,98,800,Dining
147,Vijayalakshmi,Yes,No,3.9,47,200,Dining

In [7]:
from sklearn.preprocessing import LabelEncoder
label_encoders = {}
for column in ['name', 'online_order', 'book_table', 'listed_in(type)']:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

In [9]:
df

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,59,1,1,4.1,775,800,0
1,113,1,0,4.1,787,800,0
2,107,1,0,3.8,918,800,0
3,2,0,0,3.7,88,300,0
4,52,0,0,3.8,166,600,0
...,...,...,...,...,...,...,...
143,83,0,0,3.3,0,100,2
144,89,0,0,3.3,0,150,2
145,4,1,0,4.0,771,450,2
146,35,0,0,3.0,98,800,2
147,139,1,0,3.9,47,200,2

In [10]:
X = df.drop('rate', axis=1)
y = df['rate']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = model.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('mse: ', mse)
print('r2 score:', r2)

mse:  0.17390719547077166
r2 score: 0.184640154596299

In [27]:
df['rate_class'] = pd.cut(df['rate'], bins=[0, 3, 4, 5], labels=['Low', 'Medium', 'High'])
df

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type),rate_class
0,59,1,1,4.1,775,800,0,High
1,113,1,0,4.1,787,800,0,High
2,107,1,0,3.8,918,800,0,Medium
3,2,0,0,3.7,88,300,0,Medium
4,52,0,0,3.8,166,600,0,Medium
...,...,...,...,...,...,...,...,...
143,83,0,0,3.3,0,100,2,Medium
144,89,0,0,3.3,0,150,2,Medium
145,4,1,0,4.0,771,450,2,Medium
146,35,0,0,3.0,98,800,2,Low
147,139,1,0,3.9,47,200,2,Medium

In [28]:
X = df.drop(['rate', 'rate_class'], axis=1)
y = df['rate_class']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
y_pred = model.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score, classification_report
accuracy = accuracy_score(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [34]:
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(class_report)

Accuracy: 0.6
Classification Report:
              precision    recall  f1-score   support

        High       0.00      0.00      0.00         7
         Low       0.00      0.00      0.00         5
      Medium       0.60      1.00      0.75        18

    accuracy                           0.60        30
   macro avg       0.20      0.33      0.25        30
weighted avg       0.36      0.60      0.45        30

In [26]:
def predict_rate(name, online_order, book_table, votes, approx_cost, listed_in_type):
    # Preprocess the inputs
    name_enc = label_encoders['name'].transform([name])[0]
    online_order_enc = label_encoders['online_order'].transform([online_order])[0]
    book_table_enc = label_encoders['book_table'].transform([book_table])[0]
    listed_in_type_enc = label_encoders['listed_in(type)'].transform([listed_in_type])[0]
    
    # Create a DataFrame for the input
    user_input = pd.DataFrame([[name_enc, online_order_enc, book_table_enc, votes, approx_cost, listed_in_type_enc]],
                              columns=X.columns)
    
    # Predict the rate class
    rate_class_pred = model.predict(user_input)[0]
    
    return rate_class_pred

# Example usage
predicted_rate = predict_rate('Jalsa', 'No', 'No', 775, 800, 'Buffet')
print(f"Predicted Rate Class: {predicted_rate}")

Predicted Rate Class: 3.643074923289702